= form_with(model: profile, url: profile_path, method: 'post', local: true) do |f|
  %img#avatar_img_prev.hidden{:src => "#"}/
  %div
    = f.file_field :avatar, id: 'post_img'

  %div
    = f.submit '保存'