.swiper-container
  .swiper-wrapper
    .swiper-slide Slide 1
    .swiper-slide Slide 2
    .swiper-slide Slide 3
    .swiper-slide Slide 4
    .swiper-slide Slide 5
    .swiper-slide Slide 6
    .swiper-slide Slide 7
  .swiper-pagination
  .swiper-button-prev
  .swiper-button-next
  .swiper-scrollbar

= javascript_include_tag 'application.js'