/*
 *= require 'masonry/basic'
 */

@import 'form';
@import 'variables';
@import 'profile';
@import 'timeline';
@import 'item';

div {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

p {
    margin: 0;
}

.container-body {
    overflow: hidden;
}

.link {
    color: #CCCCCC;
}

.wrap {
    text-align: right;
}

.border {
    background-color: #252222;
    height: 5px;
    margin: 0 auto;
    margin-top: 70px;
    width: 40%
}

.img {
    width: 100%;
}
