/*
 *= require 'masonry/basic'
 */

@import 'form';
@import 'variables';
@import 'profile';
@import 'timeline';
@import 'item';
@import 'account';
@import 'following';
@import 'follower';
@import 'comment';
@import 'tabs';
@import 'commons';
@import 'header';

div {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

p {
    margin: 0;
}

.container-body {
    overflow: hidden;
}

.link {
    color: #CCCCCC;
}

.wrap {
    text-align: right;
}

.border {
    background-color: #252222;
    height: 5px;
    margin: 0 auto;
    margin-top: 70px;
    width: 40%
}

.img {
    width: 100%;
}

.pagination {
  margin-top: 200px;
}

.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}

// 記事作成ボタンのデザイン
.float_btn {
    position: fixed;
    bottom: 16px;
    right: 16px;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    text-align: center;
    background-color: $primary-color;
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    i {
      margin-top: 22px;
    }
  }

.float_btn_avatar {
    position: fixed;
    bottom: 100px;
    right: 16px;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    text-align: center;
    background-color: $primary-color;
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    i {
      margin-top: 22px;
    }
  }